.layui-tab{
    margin: 10px 0 0;
}
.layui-form .layui-input-inline{
    padding:5px 0;
}
.btn-container{
    display: inline-block;
    vertical-align: middle;
}
.btn-container button{
    margin-left: 10px !important;
}
.up{
    font-weight: bold;
    color: #00a65a;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 24px;
    background: url("../images/up.png") no-repeat center;
    background-size: 16px auto;
}
.down{
    font-weight: bold;
    color: #f00;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 24px;
    background: url("../images/down.png") no-repeat center;
    background-size: 16px auto;

}